:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  background-color: #535bf2;
  padding: 25px;
  width: 90vw;
  text-align: center;
  font-size: 25px;
  margin: 15px;
  border-radius: 25px;
}

.intro{
  background-color: #6e1621;
  padding: 15px;
  width: 90vw;
  text-align: center;
  margin: 15px;
  border-radius: 25px;
  
}

