* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #fff;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  
}

.card{
  width: 300px;
  border: 1px solid white;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
  margin: 20px;
}

.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.card p{
  margin: 20px 0;
}

.card button{
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #111;
  border-radius: 5px;
}