* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;    
}
html,
body {
    height: 100%;
    width: 100%;
}

.Nav-Deails{
    padding: 0 1rem 1rem 1rem;
    
}

.Nav-Menu{
  height: 100vh;           
  width: 100%;
  background-image: url("./assets/TopBgImg.png"); 
  background-size: 100% 100%;        
  background-position: center;
  background-repeat: no-repeat;
  
}


.Navbar{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  margin-bottom: 5rem;
  
}

.Navbar-top img{
    height: auto;        
    width: 170px;        
    max-width: 100%;     
    min-width: 80px;     
    display: block; 
}

.Navbar-nav{
    width: auto;  
    padding: 1rem 2rem;  
}

.Navbar-nav ul{
    display: flex;
    gap: 35px;    
    align-items: center;
    list-style: none;    
}

.Navbar-nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: large;
    transition: all 0.3s ease;
    padding: 8px 12px;    
}

.Navbar-nav a:hover{
    cursor: pointer;
    background-color: white;
    color: blue;
    border-radius: 10px;
}

.Navbar-Other{
    padding-left: 2rem;
}

 h1{
    font-weight: 900;
    color: blue;
    font-size : 50px;
}

.Navbar-Other p{
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.Nav-Srch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgb(139, 140, 139);
}

.Nav-Srch-Left{
    display: flex;
    align-items: center;
    gap: 10px;
    color: blue;
}

.Nav-Srch-Left input{
    border: none;
    font-size: medium;
    background-color: transparent;
    border: none;
    outline: none;
    color: blue;
}

.Nav-Srch-Left input::placeholder{
    color: blue;
}

.Nav-Srch-Right{
    display: flex;
    align-items: center;
    color: rgb(98, 95, 95);
    gap: 8px;
}

.Service-Menu{
    text-align: center;
    padding-top: 35px;
}

.Service-Menu h4{
    padding-top: 5px;
    color: rgb(98, 95, 95);
    font-weight: bolder;
    font-size: large;
    margin-bottom: 5rem;
}

.Service-icons{
    color: blue;
    
}

.Service-Container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem 5rem 10rem;
  margin-top: 7rem;

  
}
.Service{
  flex: 1;
  text-align: center;
  width: 300px;  
  
}

.Service-title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 800;
}

.Service button{
    margin-top: 2rem;
    padding: 10px 2rem 10px 2rem;
    background-color: blue;
    border: none;
    border-radius: 20px;
    color: white;
}

.Menu{
    padding: 1rem 5rem 1rem 3rem;
}

.Menu-Tit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Menu-Search-Tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1px 5px 1px 5px;
}

.Menu-Search{
    display: flex;
    gap: 15px;
    color: blue;
}

.Menu-Search input{
    background-color: transparent;
    border: none;
}

.Menu-dtls{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.Menu-Dtls-Name{
    display: flex;
    align-items: center;
    color: rgb(89, 87, 84);
    
}

.Menu-Dtls-Name:hover{
    color: blue;
    cursor: pointer;
}

.Food-Menu-Dtls{
    text-align: center;
}

.Food-Menu{
  min-height: 20vh;
  width: 100%;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap; 
  padding: 2rem 1rem 3rem 3rem;
  align-items: center;
  justify-content: center;

}



.Food-Name{
    border: 1px solid black;
    width: 290px;
    text-align: center;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
}

.Food-Name img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 3px;
  object-fit: cover;
}

.Food-Tit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.Food-Commnt{
    color: blue;
    font-size: 30px;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.Food-Commnt span{
    font-size: 10px;
    align-items: center;
    color: rgb(131, 127, 127);
}

.Food-LocPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Food-Loc{
    display: flex;
    align-items: center;
    color: #beb7b7;
    gap: 5px;
    font-size: 13px;
}

.Food-Price{
    color: red;
}

.Food-Menu-Dtls button{
    padding: .5rem 3rem .5rem 3rem;
    background-color: blue;
    border: none;
    color: white;
    font-size: large;
    border-radius: 20px;
    margin-bottom: 5rem;
    text-align: center;

}







